table {
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-collapse:collapse;
}

th, td {
    border: 2px solid black;
}

.frame {
    width: 50%;
    margin: 0 auto;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    overflow: hidden;
    user-select: none;
}

.draggable-item {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
}