@use "./vars";

.form_wrapper {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
}

.form_wrapper__macro {
    padding: 35px 35px 16px 35px;
}

.form_wrapper__title {
    font-size: vars.$font-size-medium;
    font-weight: vars.$font-weight-medium;
    margin-bottom: 20px;
}

.form_personal_info__personal {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.form_personal_info__personal__generic,
.form_personal_info__personal__specific {
    width: 100%;
}

label {
    display: block;
    color: vars.$greyblack;
    margin-bottom: 7px;
}

input {
    display: block;
    width: 100%;
    height: 38px;
    border-color: vars.$dirtywhite;
    border-radius: 7px;
    padding-inline-start: 10px;
    font-size: vars.$font-size-regular;

    transition: .3s;
}

input:focus,
input[type='radio']:hover {
    border-color: vars.$blue;
}

.form_personal_info__additional_info {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

#text_disclaimer {
    font-size: vars.$font-size-small;
    margin-top: 7px;
}

.form_personal_info__gender {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form_personal_info__gender__male,
.form_personal_info__gender__female {
    display: flex;
    gap: 8px;
}