@use "./vars";

.form_wrapper {
    width: 100%;
    max-width: 570px;
    border: 3px red solid; //DELETE
    margin: 0 auto;
}

.form_wrapper__macro {
    padding: 35px 35px 16px 35px;
}

.form_wrapper__title {
    line-height: vars.$line-height-medium;
    font-size: vars.$font-weight-medium;
    margin-bottom: 20px;
}

.form_personal_info__fname_lname {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.form_personal_info__fname_lname__fname,
.form_personal_info__fname_lname__lname {
    width: 100%;
}

label {
    display: block;
    color: vars.$greyblack;
    margin-bottom: 7px;
}

input {
    display: block;
    width: 100%;
    height: 38px;
    border-color: vars.$dirtywhite;
    border-radius: 7px;
    padding-inline-start: 10px;

    transition: .3s
}

input:focus {
    border-color: vars.$blue;
}

.form_personal_info__additional_info {
    width: 100%;
    max-width: 500px;
}

// TODO: add hover effect on input, delete default border radius shrinking