@use './vars';

input[type='radio'] {
    width: 20px;
    height: 20px;
    border: 2px solid vars.$dirtywhite;
    border-radius: 50%;
    vertical-align: text-bottom;
    position: relative;

    &:hover {
        border-color: lightblue;
    }

    &:checked {
        border-color: vars.$blue;
        background: vars.$blue;
    }

    &:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        }
    }