/*typography*/
$font-family: "Roboto", sans-serif;
$font-weight-regular: 22px;
$font-weight-medium: 24px;
$line-height-regular: 15px; 
$line-height-medium: 32px;

/*color*/
$black: #1C1C1C;
$blue: #007BFF;
$greyblack: #545454;
$dirtywhite: #E4E4E4;