/*typography*/
$font-family: "Roboto", sans-serif;
$font-weight-regular: 22px;
$font-weight-medium: 24px;
$font-size-small: 13px;
$font-size-regular: 15px;
$font-size-medium: 32px;

/*color*/
$black: #1C1C1C;
$blue: #007BFF;
$white: #FFFFFF;
$greyblack: #545454;
$greypale: #969696;
$dirtywhite: #E4E4E4;
$background: #F7F7F7;