* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, textarea, a {
    font: inherit;
    cursor: pointer;
    outline: none; // needed to override Edge default
}

a {
    color: inherit;
    text-decoration: none;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}