* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, textarea, a, select {
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none; // needed to override Edge default
    background-color: transparent;
    border: transparent;
}

select {
  appearance: none;
  outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}