@use './_functions.scss';
@use './_variables.scss';

.container {
    @include width_max(100%, 1126px);
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: $font-family;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: $orange;
    color: $white;
    border-radius: 4px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 11px 25px;
}

.btn-white {
    color: $darkblue;
    background: $white;
    border: 2px solid #BCD0E5;
    margin-right: 15px;
}