@use './functions';
@use './variables';

.container {
    @include functions.width_max(100%, 1126px);
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: variables.$font-family;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: variables.$orange;
    color: variables.$white;
    border-radius: 4px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 11px 25px;
}

.btn-white {
    color: variables.$darkblue;
    background: variables.$white;
    border: 2px solid #BCD0E5;
    margin-right: 15px;
}

.margin-initial {
    margin-top: 25px;
}

.btn-large {
    padding: 15px 40px;
}

.hero-img {
    @include functions.width_max(100%, 605px);
}