@use './functions';
@use './variables';

/*header*/
.container {
    @include functions.width_max(100%, 1126px);
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: variables.$font-family;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--margin-initial {
        margin-top: 25px;
    }
}

.nav__list {
    display: flex;
    gap: variables.$gap-small;
    margin-right: 30px;
    text-transform: capitalize;
}

/*body*/
.hero__text {
    @include functions.width_max(100%, 518px);
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.hero__title {
    font-size: 44px;
    text-shadow: 0 4px 4px lightgrey;
    margin-bottom: 30px;
    color: variables.$black;
    line-height: 54px;
}

.hero__description {
    text-shadow: 0 4px 4px lightgrey;
}

.hero__actions {
    display: flex;
    gap: variables.$gap-medium;
}

.video-launcher {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.video-launcher__btn {
    color: variables.$orange;
    background: variables.$white;
    border: none;
    text-decoration: underline;
    padding: 0;
}

.btn {
    background-color: variables.$orange;
    color: variables.$white;
    border-radius: 4px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 16px;
    padding: 11px 25px;

    &--white {
        color: variables.$darkblue;
        background: variables.$white;
        border: 2px solid #BCD0E5;
        margin-right: 15px;
    }

    &--large {
        padding: 15px 40px;
    }
}

.hero__img {
    @include functions.width_max(100%, 605px);
}

.explanation__wrapper {
    @include functions.width_max(100%, 1126px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.explanation__header {
    text-align: center;
}

.explanation__title {
    @include functions.width_max(100%, 540px);
    font-size: 36px;
    text-shadow: none;
    text-transform: none;
    margin-bottom: 0;
}

.explanation__visual {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: variables.$gap-medium;
}

.card {
    @include functions.width_max(100%, 240px);
}

.card__icon {
    margin-bottom: 30px;
}