@use './_functions.scss';

p {
    @include width_max(100%, 458px);
    text-transform: none;
    font-size: 18px;
    margin-bottom: 30px;
    color: $grey;
    line-height: 28px;
}

h3 {
    margin-bottom: 13px;
    color: $black;
}