@use './functions';
@use './variables';

p {
    @include functions.width_max(100%, 458px);
    text-transform: none;
    font-size: 18px;
    margin-bottom: 30px;
    color: variables.$grey;
    line-height: 28px;
}

h3 {
    margin-bottom: 13px;
    color: variables.$black;
}