/*colors*/
$black: #2F281E;
$grey: #544837;
$darkblue: #173A56;
$orange: #FF9900;
$purple: #7752BE;
$yellow: #FAB005;
$red: #F03E3D;
$bluesky: #4DADF7;
$white: #FFFFFF;

/*typography*/
$font-family: "Poppins", sans-serif;
$gap-small: 15px;
$gap-medium: 30px;
$gap-large: 55px;