* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

input, button {
    font: inherit;
    border: none;
    outline: none;
    display: inline-block;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav, li {
    display: inline-block;
}