:root {
    --text-color: #2F281E;
    --text-color2: #544837;
    --text-color3: #173A56;
    --text-color4: #FF9900;
    --text-color5: #7752BE;
    --text-color6: #FAB005;
    --text-color7: #F03E3D;
    --text-color8: #4DADF7;
    --white: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1126px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-transform: capitalize;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.poppins-regular {
    font-weight: 400;
    font-size: 14px;
}

.poppins-medium {
    font-weight: 500;
}

.poppins-semibold {
    font-weight: 600;
    font-size: 16px;
}

/* .poppins-bold {
  font-weight: 700;
  font-style: normal;
} */

.btn {
    background-color: var(--text-color4);
    color: var(--white);
    border-radius: 4px;
    border: 2px solid transparent;
    /* bold */
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    padding: 11px 25px;
}

.btn-white {
    color: var(--text-color3);
    background: var(--white);
    border: 2px solid #BCD0E5;
    margin-right: 15px;
}

.bigger-btn {
    padding: 15px 40px;
}

.hero-text {
    width: 100%;
    max-width: 518px;
    display: inherit;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 45px;
}

.hero-img {
    width: 100%;
    max-width: 605px;
}

.hero-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.hero-btn-video-launcher {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

#triangle-img {
    vertical-align: bottom;
}

.title-header {
    font-size: 44px;
    text-shadow: 0 4px 4px lightgrey;
    margin-bottom: 30px;
    color: var(--text-color);
    line-height: 54px;
}

.header-not-hero {
    font-size: 36px;
    text-shadow: none;
    width: 100%;
    max-width: 540px;
    text-transform: none;
}

.intro-text-wrapper {
    display: flex;
    flex-direction: column;
}

.intro-text-header {
    display: inherit;
    justify-content: center;
    text-align:center;
    margin-bottom: 55px;
}

.intro-text-square {
    margin-bottom: 30px;
}

.intro-text-cards {
    display:flex;
    justify-content: space-between;
    text-align:left;
    width: 100%;
    max-width: 1095px;
}

.card-container {
    width: 100%;
    max-width: 240px;
}

.card-container h3 {
    margin-bottom:13px;
    color: var(--text-color);
}

p {
    text-transform: none;
    font-size: 18px;
    width: 100%;
    max-width: 458px;
    margin-bottom: 30px;
    color: var(--text-color2);
    line-height: 28px;
}

.hero-description {
    text-shadow: 0 4px 4px lightgrey;
}

.video-launcher {
    color: var(--text-color4);
    background: var(--white);
    border: none;
    text-decoration: underline;
    padding: 0;
}

.margin-initial {
    margin-top: 25px;
}

ul {
    margin-right: 30px;
}

li {
    margin-right: 15px;
}

ul li:last-child {
    margin: 0;
}