* {
    box-sizing: border-box;
    margin: 0;
}

.page-wrapper {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.flipcard {
    width: 300px;
    height: 400px;
}

.flipcard:hover {
    .flipcard__container {
        transform: rotateY(180deg);      
    }
}

.flipcard__container {
    position: relative;
    text-align: center;
    transition: all 1s ease;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.flipcard__front, .flipcard__back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flipcard__front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flipcard__back {
    transform: rotateY(180deg);
    background-color: beige;
}