@use "_layout";

html {
    scroll-behavior: smooth;
}

.section_vh {
    min-height: 100vh;
}

.line_breaker {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.section_title {
    display: block;
    text-align: center;
    font-size: 44px;
    text-transform: uppercase;
}

.sqr_btn {
    border: 1px solid layout.$black;
    padding: 16px 41px;
    margin-bottom: 60px;
}

.nav_btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;

  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid layout.$white;
  transition: all .5s ease;
  align-items: center;
  margin-right: 14px;

}

.nav_btn:hover {
  box-shadow: 0 0 5px layout.$cyan_blue;
}

.nav_btn:focus {
  background: layout.$white;
  border-color: layout.$white;
  box-shadow: none;
}

.nav_link:focus {
  .nav_btn {
    background: layout.$white;
    border-color: layout.$white;
    box-shadow: none;
  }
}

.circle_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 50%;

  transition: all .5s ease;

    &:hover {
        box-shadow: 0 0 5px layout.$cyan_blue;
    }

    i {
        color: layout.$white;
        font-size: 16px;
    }

    &:active {
        i {
        color: layout.$cyan_blue;
        }
    }
}