@use "_layout";

.hero {
    position: relative;
    width: 100%;
    max-width: 1600px;
    background: linear-gradient(40deg, layout.$sky_blue, layout.$purple);
    background-size: contain;
}


.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.hero__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 240px;
    gap: 40px;
}

.hero__header__nav {
    width: 100%;
    max-width: 515px;

}

.hero__header__nav__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
    gap: 10px;
}

input[type="radio"] {
    margin-right: 14px;
}

.hero__header__nav__social {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero_title {
    width: 100%;
    max-width: 917px;
    text-align: center;
    margin: 0 auto;

    .hero_title__text {
        margin-bottom: 240px;

        h1 {
            margin-bottom: 20px;
        }
    }

    .hero_title_action_item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}