@use "_layout";

input[name="nav_btn"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;

  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid layout.$white;
  transition: all .5s ease;
  vertical-align: center;
}

input[name="nav_btn"]:hover,
.logo_btn:hover {
  box-shadow: 0 0 5px layout.$cyan_blue;
}

input[name="nav_btn"]:checked {
  background: layout.$white;
  border-color: layout.$white;
  box-shadow: none;
}

.logo_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 50%;

  transition: all .5s ease;

  i {
    color: layout.$white;
  }

  &:active {
    i {
      color: layout.$cyan_blue;
    }
  }
}