@use "_layout";
@use "_base";

.gallery {
    @extend .section_vh;
}

.gallery_title {
    padding-top: 140px;
    margin-bottom: 90px;
}

.section_title_gallery {
    @extend .section_title;
    color: layout.$navy_blue;
}

.container__gallery_showcase {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 140px;
}

#container__gallery_showcase__grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;

    margin-bottom: 60px;

    .grid_item_1 {
        grid-column: span 2 / span 2;
        grid-row: span 4 / span 4;
    }

    .grid_item_2 {
        grid-row: span 2 / span 2;
        grid-column-start: 3;
    }

    .grid_item_3 {
        grid-row: span 2 / span 2;
        grid-column-start: 4;
    }

    .grid_item_4 {
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 3;
    }

    .grid_item_5 {
        grid-row: span 2 / span 2;
        grid-column-start: 4;
        grid-row-start: 3;
    }
}