@use "_layout";
@use "_base";

.hero {
    position: relative;
    background-image: url("./assets/hero/hero_bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @extend .section_vh;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    background: #7E5AFF;
    background: linear-gradient(45deg, rgba(85, 183, 255, 1) 0%, rgba(126, 90, 255, 1) 100%);

    opacity: .8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero__content__header {
    position: absolute;
    z-index: 1;

    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding-top: 53px;
}

.hero__content__text {
    position: absolute;
    z-index: 1;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 100%;

    text-align: center;
}

.hero__content__header__nav__list {
    display: flex;
    gap: 70px;
}

.hero__content__header__nav__item {
    display: flex;
    align-items: center;
}

.nav_link::before {
    content: "";
    display: inline-block;

    cursor: pointer;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid layout.$white;
    transition: all .2s ease;
    align-items: center;
    margin-right: 14px;
}

.nav_link:hover::before {
    box-shadow: 0 0 5px layout.$cyan_blue;
}

.nav_link:focus::before {
    background: layout.$white;
    border-color: layout.$white;
    box-shadow: none;
}

.social {
    display: flex;
    gap: 20px;
}

.hero__content__text .hero__slide.slick-active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.slick-dots {
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translateY(-50%);
}

.slick-dots li:not(:last-child) {
    margin-bottom: 40px;
}

.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slick-active button,
.slick-dots button:hover {
    background-color: white;
}