.news {
    position: relative;
    background-image: url("./assets/news/news_bg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100vh;
}

.news::after {
    content:"";
    display: block;
    position: absolute;
    background: #3C7FD4;
    background: linear-gradient(45deg, rgba(60, 127, 212, 1) 0%, rgba(36, 204, 250, 1) 100%);

    opacity: .8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}