@use "_layout";
@use "_base";

.news {
    position: relative;
    background-image: url("./assets/news/news_bg.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100vh;
}

.news::after {
    content: "";
    display: block;
    position: absolute;
    background: #3C7FD4;
    background: linear-gradient(45deg, rgba(60, 127, 212, 1) 0%, rgba(36, 204, 250, 1) 100%);

    opacity: .8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section_title_news {
    @extend .section_title;
    color: layout.$white;
}

.news_title {
    padding-top: 135px;
    position: absolute;
    z-index: 1;

    left: 0;
    right: 0;
    margin: 0 auto;
}

.line_breaker_white {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.news_slider_cards {
    position: absolute;
    z-index: 1;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 100%;

    text-align: center;
}

.news_card_container {
    width: 100%;
    max-width: 370px;
    background-color: layout.$white;

    .news_card_container__img {
        margin-bottom: 30px;
    }


    .news_card_container__text {
        width: 100%;
        max-width: 330px;
        margin-bottom: 40px;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 30px;

        .news_card_container__text__title {
            margin-bottom: 15px;
        }

        .news_card_container__paragraph {
            margin-bottom: 40px;
        }
    }

    .news_card_container__personal_details {
        display: flex;
        align-items: center;

        .news_card_container__personal_details__img {
            border-radius: 50%;
            margin-right: 20px;
        }

        .news_card_container__personal_details__fname_date__fullname {
            margin-bottom: 6px;
        }

        .news_card_container__personal_details__fname_date__date {
            color: layout.$sky_blue;
        }
    }
}