@use "_layout";
@use "_base";

.projects {
    @extend .section_vh;
}

.section_title_projects {
    @extend .section_title;
}

.projects_title {
    padding-top: 100px;
    margin-bottom: 90px;
}

.container {
    width: 100%;
    // margin-bottom: 240px;
    display: flex;

    .projects_showcase__text {
        // padding-left: 85px;
    }

    .projects_showcase__img {
        position: relative;
        // width: 585px;
        // height: 470px;

        .overlay {
            position: absolute;
            object-fit: cover;
            // height: 470px;
            top: 15%;
        }
    }

    &:nth-of-type(even) {
        justify-content: space-between;

        .projects_showcase__img {
            background-color: layout.$sky_blue;

            .overlay {
                left: 30%;
            }
        }
    }

    &:nth-of-type(odd) {
        justify-content: end;

        .projects_showcase__img {
            background-color: layout.$purple;

            .overlay {
                // left: -30%;
            }
        }
    }

    .projects_showcase__text {
        // width: 50%;
        // padding-top: 150px;
        // padding-bottom: 25px;

        .projects_showcase__text__title__main {
            margin-bottom: 18px;
        }

        .projects_showcase__text__paragraph {
            max-width: 470px;
            // margin-bottom: 40px;
        }
    }
}

.projects_showcase__location_pointer {
    margin-right: 10px;
}