@use "_layout";
@use "_base";

.projects {
    @extend .section_vh;
}

.section_title_projects {
    @extend .section_title;
}

.projects_title {
    padding-top: 100px;
    margin-bottom: 90px;
}

.container__projects_showcase {
    display: flex;

    &:nth-of-type(even) {
        justify-content: flex-start;
    }

    &:nth-of-type(odd) {
        justify-content: flex-end;
    }

}

.projects_showcase {
    width: 100%;
    max-width: 1385px;
    margin-bottom: 240px;
    display: flex;
    gap: 70px;

    &:last-child {
        margin-bottom: 140px;
    }

    .grid_container {
        width: 100%;
        max-width: 845px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 527px;

        .item1 {
            background-color: layout.$sky_blue;

            grid-column: 1 / 4;
            grid-row: 1 / 8;
        }

        .item3 {
            background-color: layout.$purple;

            grid-column: -1 / 2;
            grid-row: 1 / 8;
        }

        .item2 {
            background-image: url("./assets/projects/projects_building1.webp");
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            grid-column: 2 / 5;
            grid-row: 2 / 10;
        }

        .item4 {
            background-image: url("./assets/projects/projects_building2.webp");
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            grid-column: -2 / 1;
            grid-row: 2 / 10;
        }
    }
}

.projects_showcase__text {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 25px;

    &:nth-child(odd) {
        padding-left: 18.7%;
    }

    .projects_showcase__text__title__main {
        margin-bottom: 18px;
    }

    .projects_showcase__text__paragraph {
        max-width: 470px;
        margin-bottom: 40px;
    }
}

.projects_showcase__text__location_pointer {
    margin-right: 10px;
}