@use "_layout";

.projects {
    min-height: 100vh;
}

.projects_title {
    padding-top: 100px;
    margin-bottom: 90px;

    .projects_title__line_breaker {
        margin-bottom: 30px;
    }

    .projects_title__line_breaker,
    h4 {
        display: block;
        text-align: center;
    }
}

.projects_showcase {
    width: 100%;
    margin-bottom: 240px;
    display: flex;

    &:last-child {
        margin-bottom: 140px;
    }

    .grid_container {
        width: 100%;
        max-width: 845px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(8, 1fr);
        height: 527px;

        .item1 {
            background-color: layout.$sky_blue;

            grid-column: 1 / 4;
            grid-row: 1 / 8;
        }

        .item3 {
            background-color: layout.$purple;

            grid-column: -1 / 2;
            grid-row: 1 / 8;
        }

        .item2 {
            background-image: url("./assets/projects/projects_building1.webp");
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            grid-column: 2 / 5;
            grid-row: 2 / 10;
        }

        .item4 {
            background-image: url("./assets/projects/projects_building2.webp");
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            grid-column: -2 / 1;
            grid-row: 2 / 10;
        }
    }
}

.projects_showcase__text {
    width: 100%;
    max-width: 470%;
}