@use "_layout";

// typography
$font_family_monserrat: "Montserrat", sans-serif;
$font_family_open_sans: "Open Sans", sans-serif;
$font_family_source_code_pro: "Source Code Pro", monospace;

body {
    font-family: $font_family_monserrat;
}

.hero__header__nav__list {
    font-family: $font_family_open_sans;
    font-size: 14px;
    color: layout.$white;
}

.hero_title__text__heading {
    font-size: 80px;
    text-transform: uppercase;
    color: layout.$white;
    font-weight: bold;
    letter-spacing: 7px;

}

.hero_title__text__subheading {
    font-size: 18px;
    text-transform: uppercase;
    color: layout.$white;
    font-weight: regular;
    letter-spacing: 5px;
}