@use "_layout";

// typography
$font_family_monserrat: "Montserrat", sans-serif;
$font_family_open_sans: "Open Sans", sans-serif;
$font_family_source_code_pro: "Source Code Pro", monospace;

body {
    font-family: $font_family_monserrat;
}

.hero__content__header {
    font-family: $font_family_open_sans;
    font-size: clamp(0.7rem, 0.73vw, 60px);
    color: layout.$white;
    text-transform: uppercase;
}

h2 {
    // font-size: clamp(1rem, 5vw, 80px);
    text-transform: uppercase;
    color: layout.$white;
    font-weight: bold;
    letter-spacing: 7px;
    margin: 0 auto 40px;
}

h3 {
    font-size: clamp(.5rem, 1.05rem + 0.4vw, 1.375rem);
    text-transform: uppercase;
    color: layout.$white;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 0;
}

h4,
.projects_showcase__text__title__main {
    font-size: 44px;
    text-transform: uppercase;
    color: layout.$navy_blue;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}

.projects_showcase__text__title__upper {
    font-size: 22px;
    text-transform: uppercase;
    color: layout.$navy_blue;
    font-weight: regular;
}

.projects_showcase__text__title__main {
    letter-spacing: 0;
}

.projects_showcase__text__paragraph {
    font-family: $font_family_open_sans;
    font-size: 18px;
    color: layout.$navy_blue;
    font-weight: 300;

    line-height: 30px,
}

.sqr_btn {
    font-family: $font_family_monserrat;
    font-size: 14px;
    text-transform: uppercase;
    color: layout.$black;
    font-weight: 400;
}

.projects_showcase__text__location_text {
    font-family: $font_family_open_sans;
    font-size: 15px;
    font-style: italic;
}