@use "_layout";

// typography
$font_family_monserrat: "Montserrat", sans-serif;
$font_family_open_sans: "Open Sans", sans-serif;
$font_family_source_code_pro: "Source Code Pro", monospace;

body {
    font-family: $font_family_monserrat;
}

.hero__content__header {
    font-family: $font_family_open_sans;
    font-size: clamp(0.875rem, 0.73vw, 60px);
    color: layout.$white;
    text-transform: uppercase;
}

h2 {
    font-size: clamp(1rem, 4.17vw, 80px);
    text-transform: uppercase;
    color: layout.$white;
    font-weight: bold;
    letter-spacing: 7px;
    margin: 0 auto 40px;
}

h3 {
    font-size: clamp(0.875rem, 0.73vw, 14px);
    text-transform: uppercase;
    color: layout.$white;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 0;
}

    