body {
  font-family: "Montserrat", sans-serif;
}

.hero__content__header {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hero_heading {
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 7px;
  margin: 0 auto 40px;
}

.hero_subheading {
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}

.projects_showcase__text__title__upper {
  font-size: 22px;
  text-transform: uppercase;
  color: #2C4058;
  font-weight: regular;
}

.news_card_container__text__title {
  font-size: 22px;
  text-transform: uppercase;
  color: #2C4058;
  font-weight: bold;
}

.projects_showcase__text__title__main, .section_title_projects {
  font-size: 44px;
  text-transform: uppercase;
  color: #2C4058;
  font-weight: bold;
  margin: 0;
}

.projects_showcase__text__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #2C4058;
  font-weight: 400;
  line-height: 30px;
}

.news_card_container__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #2C4058;
  font-weight: 300;
}

.sqr_btn, .sqr_btn--margin, .sqr_btn--centered, .form__button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
}

.projects_showcase__location_text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
}

.news_card_container__personal_details__fname_date__fullname {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.news_card_container__personal_details__fname_date__date,
.disclaimer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.disclaimer {
  color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

.section_vh, .gallery, .projects, .hero {
  min-height: 100vh;
}

.line_breaker {
  text-align: center;
  margin-bottom: 30px;
}
.line_breaker img {
  margin: 0 auto;
}

.section_title, .section_title_contacts, .section_title_gallery, .section_title_news, .section_title_projects {
  display: block;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
}

.sqr_btn, .form__button, .sqr_btn--centered, .sqr_btn--margin {
  border: 1px solid #000000;
  padding: 16px 41px;
  text-transform: uppercase;
}

.sqr_btn--margin {
  margin-bottom: 60px;
}

.sqr_btn--centered {
  padding: 16px 57px;
}

.circle_btn, .slick-prev,
.slick-next, .circle_button--standalone, .circle_button--social {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.circle_btn:hover, .slick-prev:hover,
.slick-next:hover, .circle_button--standalone:hover, .circle_button--social:hover {
  box-shadow: 0 0 5px #24CCFA;
}

.circle_button--social i {
  color: #FFFFFF;
  font-size: 16px;
}
.circle_button--social:active i {
  color: #24CCFA;
}

.circle_button--standalone {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 50px;
}

.hero {
  position: relative;
  background-image: url("./assets/hero/hero_bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  background: #7E5AFF;
  background: linear-gradient(45deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__content__header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 53px;
}

.hero__content__text {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.hero__content__header__nav__list {
  display: flex;
  gap: 70px;
}

.hero__content__header__nav__item {
  display: flex;
  align-items: center;
}

.nav_link::before {
  content: "";
  display: inline-block;
  cursor: pointer;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: all 0.2s ease;
  align-items: center;
  margin-right: 14px;
}

.nav_link:hover::before {
  box-shadow: 0 0 5px #24CCFA;
}

.nav_link:focus::before {
  background: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: none;
}

.social {
  display: flex;
  gap: 20px;
}

.hero__content__text .hero__slide.slick-active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.slick-dots {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots li:not(:last-child) {
  margin-bottom: 40px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slick-active button,
.slick-dots button:hover {
  background-color: white;
}

.projects_title {
  padding-top: 100px;
  margin-bottom: 90px;
}

.container {
  width: 100%;
  display: flex;
}
.container .projects_showcase__img {
  position: relative;
}
.container .projects_showcase__img .overlay {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 15%;
}
.container:nth-of-type(even) {
  justify-content: space-between;
}
.container:nth-of-type(even) .projects_showcase__img {
  background-color: #55B7FF;
}
.container:nth-of-type(even) .projects_showcase__img .overlay {
  left: 30%;
}
.container:nth-of-type(odd) {
  justify-content: end;
}
.container:nth-of-type(odd) .projects_showcase__img {
  background-color: #7E5AFF;
}
.container .projects_showcase__text .projects_showcase__text__title__main {
  margin-bottom: 18px;
}
.container .projects_showcase__text .projects_showcase__text__paragraph {
  max-width: 470px;
}

.projects_showcase__location_pointer {
  margin-right: 10px;
}

.news {
  position: relative;
  background-image: url("./assets/news/news_bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 100vh;
}

.news::after {
  content: "";
  display: block;
  position: absolute;
  background: #3C7FD4;
  background: linear-gradient(45deg, rgb(60, 127, 212) 0%, rgb(36, 204, 250) 100%);
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section_title_news {
  color: #FFFFFF;
}

.news_title {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.line_breaker_white {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.news_slider_cards {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-slide {
  margin: 0 10px;
}

.news_card_container {
  width: 100%;
  max-width: 370px;
  background-color: #FFFFFF;
}
.news_card_container .news_card_container__img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news_card_container .news_card_container__text {
  width: 100%;
  max-width: 330px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 20px;
  border: none;
}
.news_card_container .news_card_container__text .news_card_container__text__title {
  margin-bottom: 15px;
}
.news_card_container .news_card_container__text .news_card_container__paragraph {
  margin-bottom: 20px;
}
.news_card_container .news_card_container__personal_details {
  display: flex;
  align-items: center;
}
.news_card_container .news_card_container__personal_details .news_card_container__personal_details__img {
  border-radius: 50%;
  margin-right: 20px;
}
.news_card_container .news_card_container__personal_details .news_card_container__personal_details__fname_date__fullname {
  margin-bottom: 6px;
}
.news_card_container .news_card_container__personal_details .news_card_container__personal_details__fname_date__date {
  color: #55B7FF;
}

.slick-vertical .slick-slide {
  border: none;
}

.news_slider_cards .slick-dots {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: -65px;
  transform: translateX(-50%);
  gap: 40px;
  align-items: flex-end;
  justify-content: center;
}
.news_slider_cards .slick-dots li {
  margin-bottom: 0;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 0;
}

.slick-prev {
  background-image: url("./assets/button/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  left: -60px;
}

.slick-next {
  background-image: url("./assets/button/arrow_right.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  right: -60px;
}

.gallery_title {
  padding-top: 100px;
  margin-bottom: 90px;
}

.section_title_gallery {
  color: #2C4058;
}

.container__gallery_showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

#container__gallery_showcase__grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}
#container__gallery_showcase__grid_container .grid_macro {
  grid-column: span 2/span 2;
  grid-row: span 4/span 4;
}
#container__gallery_showcase__grid_container .grid_skyscraper {
  grid-row: span 2/span 2;
  grid-column-start: 3;
}
#container__gallery_showcase__grid_container .grid_civilian_building {
  grid-row: span 2/span 2;
  grid-column-start: 4;
}
#container__gallery_showcase__grid_container .grid_round_building {
  grid-row: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}
#container__gallery_showcase__grid_container .grid_cinema_building {
  grid-row: span 2/span 2;
  grid-column-start: 4;
  grid-row-start: 3;
}
#container__gallery_showcase__grid_container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact {
  position: relative;
}

#map {
  min-height: 60vh;
  z-index: 1;
}

.leaflet-top,
.leaflet-left,
.leaflet-control-attribution,
.leaflet-control {
  display: none;
}

.form {
  position: absolute;
  width: 100%;
  max-width: 770px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  background-image: url("./assets/contacts/form_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  z-index: 2;
}

.footer_bg {
  position: relative;
  min-height: 40vh;
  background-image: url("./assets/footer/footer_scott-webb.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.footer_bg::after {
  content: "";
  display: block;
  position: absolute;
  background: #55B7FF;
  background: linear-gradient(45deg, rgb(85, 183, 255) 0%, rgb(126, 90, 255) 100%);
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section_title_contacts {
  color: #2C4058;
}

#contacts_line_breaker {
  padding-top: 60px;
}

.form__contacts {
  display: flex;
  gap: 54px;
}
.form__contacts i {
  color: #7E5AFF;
  margin-right: 5px;
}

.form__given_info > *:not(:last-child) {
  width: 100%;
  max-width: 286px;
}

.form__input {
  width: 100%;
  max-width: 310px;
}
.form__input input {
  width: 100%;
  padding: 14px;
  border: none;
  border-bottom: 1px solid #4B5562;
}
.form__input input:focus {
  border-color: #2C4058;
}
.form__input button {
  float: right;
}

svg {
  fill: #7E5AFF;
  vertical-align: bottom;
  margin-right: 5px;
}

.footer_bg__container {
  position: absolute;
  width: 100%;
  max-width: 770px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .monticello_logo {
    width: 150px;
    margin: 0 auto;
  }
  .hero__content__header__nav__list,
  .social {
    display: none;
  }
  .hero_heading {
    font-size: 35px;
  }
  .section_title_news,
  .section_title_gallery {
    font-size: 30px;
  }
  .hero_subheading,
  .section_title_contacts {
    font-size: 17px;
  }
  .slick-dots {
    right: 20px;
  }
  .slick-dots li {
    margin-bottom: 25px;
  }
  .slick-dots button {
    width: 8px;
    height: 8px;
  }
  .circle_button--standalone {
    width: 35px;
    height: 35px;
    left: 45%;
  }
  .section_title_projects {
    font-size: 22px;
  }
  .projects_title,
  .gallery_title {
    padding-top: 30px;
    margin-bottom: 40px;
  }
  .container {
    flex-direction: column;
  }
  .container:nth-of-type(even) {
    justify-content: space-between;
  }
  .container:nth-of-type(even) .overlay {
    left: 30%;
  }
  .container:nth-of-type(odd) {
    justify-content: end;
  }
  .container:nth-of-type(odd) .overlay {
    left: 30%;
  }
  .container:last-child {
    margin-bottom: 115px;
  }
  .projects_showcase__img {
    width: 285px;
    height: 285px;
  }
  .overlay {
    width: 289px;
    height: 285px;
  }
  .projects_showcase__text__title__main {
    font-size: 22px;
  }
  .projects_showcase__text {
    padding-top: 75px;
    padding-bottom: 25px;
    text-align: center;
  }
  .projects_showcase__text__title__upper {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .projects_showcase__text__paragraph {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
    line-height: 20px;
  }
  .sqr_btn--margin {
    font-size: 12px;
    padding: 8px 21px;
    margin: 20px auto;
  }
  .projects_showcase__location_text {
    font-size: 11px;
  }
  .news {
    background-size: contain;
  }
  .news_slider_cards {
    width: 80%;
  }
  .news_card_container__text__title {
    font-size: 18px;
  }
  .news_title {
    padding-top: 30px;
  }
  .news_card_container__paragraph,
  .news_card_container__personal_details__fname_date__fullname,
  .news_card_container__personal_details__fname_date__date {
    font-size: 14px;
  }
  .news_card_container__personal_details__img {
    width: 40px;
  }
  #container__gallery_showcase__grid_container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
  }
  #container__gallery_showcase__grid_container .grid_macro {
    grid-column: 1;
    grid-row: 1;
  }
  #container__gallery_showcase__grid_container .grid_skyscraper {
    grid-column: 2;
    grid-row: 1;
  }
  #container__gallery_showcase__grid_container .grid_civilian_building {
    grid-column: 1;
    grid-row: 2;
  }
  #container__gallery_showcase__grid_container .grid_round_building {
    grid-column: 2;
    grid-row: 2;
  }
  #container__gallery_showcase__grid_container .grid_cinema_building {
    grid-column: 1;
    grid-row: 3;
  }
  .container__gallery_showcase {
    margin-bottom: 40px;
  }
  .sqr_btn--centered {
    font-size: 12px;
    padding: 8px 21px;
  }
  .contacts_title {
    margin-bottom: 10px;
  }
  #contacts_line_breaker {
    display: none;
  }
  .section_title_contacts {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .form {
    width: 80%;
  }
  .form__contacts {
    flex-direction: column;
    gap: 12px;
    padding: 0 15px 15px 15px;
  }
  .form__given_info > *:not(:last-child) {
    margin-bottom: 10px;
  }
  .form__given_info__location__text,
  .form__given_info__telephone,
  .form__given_info__mail,
  .form__given_info__time,
  .form__button {
    font-size: 12px;
  }
  .disclaimer {
    font-size: 10px;
  }
  .footer_bg__container {
    justify-content: center;
  }
  .logo {
    margin-bottom: 10px;
  }
  svg {
    width: 17px;
    height: 17px;
  }
  .form__input > input {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .form__button {
    padding: 6px 20px;
  }
}
@media screen and (min-width: 576px) {
  .circle_button--standalone {
    left: 48%;
  }
  .news_slider_cards {
    width: 60%;
    top: 53%;
  }
  .form__contacts {
    padding: 20px 45px 40px 45px;
    align-items: center;
  }
  .form__input > input {
    margin-bottom: 25px;
  }
  .footer_bg__container {
    bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .hero__content__header__nav__list,
  .social {
    display: flex;
  }
  .logo {
    margin-bottom: 0px;
  }
  .hero__content__header__nav__list {
    gap: 20px;
  }
  .nav_link::before {
    width: 5px;
    height: 5px;
  }
  .hero__content__header {
    font-size: 10px;
  }
  .circle_button--social {
    width: 35px;
    height: 35px;
  }
  .circle_button--social i {
    font-size: 12px;
  }
  .section_title_projects {
    font-size: 35px;
  }
  .container {
    flex-direction: row;
    padding-bottom: 50px;
  }
  .container .projects_showcase__text__paragraph {
    margin: 0;
  }
  .container .projects_showcase__text {
    width: 50%;
    text-align: left;
  }
  .container:nth-of-type(even) {
    justify-content: space-between;
  }
  .container:nth-of-type(odd) {
    justify-content: end;
  }
  .container:nth-of-type(odd) .overlay {
    left: -30%;
  }
}