body {
  font-family: "Montserrat", sans-serif;
}

.hero__content__header {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hero_heading {
  font-size: 80px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 7px;
  margin: 0 auto 40px;
}

.hero_subheading {
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 5px;
  margin: 0;
}

.projects_showcase__text__title__upper {
  font-size: 22px;
  text-transform: uppercase;
  color: #2C4058;
  font-weight: regular;
}

.news_card_container__text__title {
  font-size: 22px;
  text-transform: uppercase;
  color: #2C4058;
  font-weight: bold;
}

.projects_showcase__text__title__main {
  font-size: 44px;
  text-transform: uppercase;
  color: #2C4058;
  font-weight: bold;
  margin: 0;
}

.projects_showcase__text__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #2C4058;
  font-weight: 400;
  line-height: 30px;
}

.news_card_container__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #2C4058;
  font-weight: 300;
}

.sqr_btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
}

.projects_showcase__text__location_text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-style: italic;
}

.news_card_container__personal_details__fname_date__fullname {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.news_card_container__personal_details__fname_date__date {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.section_vh, .projects, .hero {
  min-height: 100vh;
}

.line_breaker {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.section_title, .section_title_news, .section_title_projects {
  display: block;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
}

.sqr_btn {
  border: 1px solid #000000;
  padding: 16px 41px;
  margin-bottom: 60px;
}

.nav_btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
  transition: all 0.5s ease;
  align-items: center;
  margin-right: 14px;
}

.nav_btn:hover {
  box-shadow: 0 0 5px #24CCFA;
}

.nav_btn:focus {
  background: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: none;
}

.nav_link:focus .nav_btn {
  background: #FFFFFF;
  border-color: #FFFFFF;
  box-shadow: none;
}

.circle_btn, .circle_button__standalone, .circle_button__header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  transition: all 0.5s ease;
}
.circle_btn:hover, .circle_button__standalone:hover, .circle_button__header:hover {
  box-shadow: 0 0 5px #24CCFA;
}

.circle_button__header i {
  color: #FFFFFF;
  font-size: 16px;
}
.circle_button__header:active i {
  color: #24CCFA;
}

.circle_button__standalone {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 50px;
}

.hero {
  position: relative;
  background-image: url("./assets/hero/hero_bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  background: #7E5AFF;
  background: linear-gradient(45deg, rgb(126, 90, 255) 0%, rgb(85, 183, 255) 100%);
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__content__header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 53px;
}

.hero__content__text {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.hero__content__header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__header__nav__social,
.hero__content__header__nav__list {
  display: flex;
}

.hero__header__nav__social {
  gap: 20px;
}

.hero__content__header__nav__item:not(:last-child) {
  margin-right: 70px;
}

.slick-dots {
  position: absolute;
  right: 55px;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots li:not(:last-child) {
  margin-bottom: 40px;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50%;
}

.slick-active button,
.slick-dots button:hover {
  background-color: white;
}

.projects_title {
  padding-top: 100px;
  margin-bottom: 90px;
}

.container__projects_showcase {
  display: flex;
}
.container__projects_showcase:nth-of-type(even) {
  justify-content: flex-start;
}
.container__projects_showcase:nth-of-type(odd) {
  justify-content: flex-end;
}

.projects_showcase {
  width: 100%;
  max-width: 1385px;
  margin-bottom: 240px;
  display: flex;
  gap: 70px;
}
.projects_showcase:last-child {
  margin-bottom: 140px;
}
.projects_showcase .grid_container {
  width: 100%;
  max-width: 845px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 527px;
}
.projects_showcase .grid_container .item1 {
  background-color: #55B7FF;
  grid-column: 1/4;
  grid-row: 1/8;
}
.projects_showcase .grid_container .item3 {
  background-color: #7E5AFF;
  grid-column: -1/2;
  grid-row: 1/8;
}
.projects_showcase .grid_container .item2 {
  background-image: url("./assets/projects/projects_building1.webp");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2/5;
  grid-row: 2/10;
}
.projects_showcase .grid_container .item4 {
  background-image: url("./assets/projects/projects_building2.webp");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: -2/1;
  grid-row: 2/10;
}

.projects_showcase__text {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 25px;
}
.projects_showcase__text:nth-child(odd) {
  padding-left: 18.7%;
}
.projects_showcase__text .projects_showcase__text__title__main {
  margin-bottom: 18px;
}
.projects_showcase__text .projects_showcase__text__paragraph {
  max-width: 470px;
  margin-bottom: 40px;
}

.projects_showcase__text__location_pointer {
  margin-right: 10px;
}

.news {
  position: relative;
  background-image: url("./assets/news/news_bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 100vh;
}

.news::after {
  content: "";
  display: block;
  position: absolute;
  background: #3C7FD4;
  background: linear-gradient(45deg, rgb(60, 127, 212) 0%, rgb(36, 204, 250) 100%);
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section_title_news {
  color: #FFFFFF;
}

.news_title {
  padding-top: 135px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.line_breaker_white {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.news_slider_cards {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.news_card_container {
  width: 100%;
  max-width: 370px;
  background-color: #FFFFFF;
}
.news_card_container .news_card_container__img {
  margin-bottom: 30px;
}
.news_card_container .news_card_container__text {
  width: 100%;
  max-width: 330px;
  margin-bottom: 40px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
}
.news_card_container .news_card_container__text .news_card_container__text__title {
  margin-bottom: 15px;
}
.news_card_container .news_card_container__text .news_card_container__paragraph {
  margin-bottom: 40px;
}
.news_card_container .news_card_container__personal_details {
  display: flex;
  align-items: center;
}
.news_card_container .news_card_container__personal_details .news_card_container__personal_details__img {
  border-radius: 50%;
  margin-right: 20px;
}
.news_card_container .news_card_container__personal_details .news_card_container__personal_details__fname_date__fullname {
  margin-bottom: 6px;
}
.news_card_container .news_card_container__personal_details .news_card_container__personal_details__fname_date__date {
  color: #55B7FF;
}