@use "_layout";
@use "_typography";
@use "_base";
@use "_hero";
@use "_projects";
@use "_news";
@use "_gallery";
@use "_contact";

// media queries
// Extra-small devices
@media screen and (min-width: 375px) {
    .monticello_logo { 
        width: 150px;
        margin: 0 auto;
     }
    // TODO: add hamburger menu
    .hero__content__header__nav__list, .social { display: none; }
    .hero_heading, .section_title_news { font-size: 30px; }
    .hero_subheading { font-size: 12px; }
    .slick-dots { right: 20px; }
    .slick-dots li { margin-bottom: 25px; }
    .circle_button--standalone { 
        width: 35px;
        height: 35px;
        left:45%;
    }

    .section_title_projects { font-size: 22px;}
    .projects_title {
        padding-top: 30px;
        margin-bottom: 40px;
    }

    .container { 
        flex-direction: column;

        &:nth-of-type(even) {
            justify-content: space-between;
    
            .overlay {
                left: 30%;
            }
        }
        &:nth-of-type(odd) {
            justify-content: end;
    
            .overlay {
                left: 30%;
            }
        }

        &:last-child {
            margin-bottom: 115px;
        }
    }

    .projects_showcase__img {
        width: 285px;
        height: 285px;
    }

    .overlay {
        width: 289px;
        height: 285px;
    }

    .projects_showcase__text__title__main { font-size: 22px; }

    .projects_showcase__text {
        padding-top: 75px;
        padding-bottom: 25px;
        text-align: center;
    }

    .projects_showcase__text__title__upper { 
        font-size: 12px;
        margin-bottom: 5px;
    }
    .projects_showcase__text__paragraph {
        width: 80%;
        margin: 0 auto;
        font-size: 12px;
        line-height: 20px;
    }
    .sqr_btn--margin {
        font-size: 8px;
        padding: 8px 21px;
        margin: 20px auto;
    }

    .projects_showcase__location_text {
        font-size: 11px;
    }

    .news { background-size: contain; }
    .news_slider_cards {
        width: 80%;
    }
    .news_card_container__text__title { font-size: 14px; }
    .news_title { padding-top: 30px; }
    .news_card_container__paragraph, .news_card_container__personal_details__fname_date__fullname, .news_card_container__personal_details__fname_date__date { font-size: 12px; }
    .news_card_container__personal_details__img { width: 40px; }
 }

// Small devices (landscape phones, 576px and up)
// @media screen and (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media screen and (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media screen and (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
// @media screen and (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @media screen and (min-width: 1400px) { ... } 