* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

input, button {
  font: inherit;
  border: transparent;
  outline: none;
  background: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav, li, ul {
  display: inline-block;
}