* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  vertical-align: middle;
}

input, button {
  border: transparent;
  outline: none;
  background: none;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}