* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
}

button {
  border: transparent;
  outline: none;
  background: none;
  font-family: inherit;
}

ol, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}