@use "sass:map";
@use "../abstract/_vars";

.btn {
    border-radius: 4px;
}

.btn--like {
    @extend .btn;

    background-color: vars.$white_authentic;
    padding: 0.629em 1.8em;
    margin-right: .5em;
}

.btn--cta {
    @extend .btn;

    background-color: vars.$jade_dark;
    padding: 0.75em 3.8em;
    width: 100%;
    max-width: 13.0625em;

    font-size: map.get(vars.$fs, "base");
    font-weight: map.get(vars.$fw, "semi-bold");
    color: vars.$white_full;
    line-height: 20px;
}