.page_wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    width: 100%;
    
    

    input {
        position: relative;
        width: 100%;
        border: 1px solid rgb(83, 79, 79);
        border-radius: 30px;
        padding-inline-start: 10px;
        padding: 5px 20px;
    }

    button {
        position: absolute;
        transform: translate(-150%, 25%); //TODO: fix this!
        background-image: url("./assets/magnifying_glass.svg");
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        z-index: 1;
    }
}

#weather_info_container {
    width: 400px;
    height: 600px;
    background: rgb(241, 251, 255);
    border: 1px solid rgb(83, 79, 79);
    border-radius: 15px;

    margin: 0 auto;

    color: rgb(133, 122, 122);

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;

    .weather_info_container__date_time__date {
        font-size: 10px;
    }

    .weather_info_container__date_time__time {
        font-size: 24px;
    }

    .weather_info_container__location {
        font-size: 8px;
    }

    .weather_info_container__main__degree {
        font-size: 36px;
    }

    .weather_info_container__main__weather_condition {
        font-size: 10px;
    }
}