.page_wrapper {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    width: 100%;
    max-width: 337px;
    margin: 0 auto;
    
    input {
        position: relative;
        width: 100%;
        border: 1px solid rgb(83, 79, 79);
        border-radius: 30px;
        padding-inline-start: 10px;
        padding: 5px 20px;
    }

    button {
        position: absolute;
        transform: translate(-150%, 30%);
        background-image: url("./assets/magnifying_glass.svg");
        background-repeat: no-repeat;
        width: 22px;
        height: 22px;
        z-index: 1;
    }
}

#weather_info_wrapper {
    width: 100%;
    max-width: 337px;
    height: 600px;
    border: 1px solid rgb(83, 79, 79);
    border-radius: 35px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#weather_info_container {
    width: 90%;
    height: 90%;
    display: inherit;
    flex-direction: column;

    .weather_info_container__header {
        display: inherit;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;

        .weather_info_container__header__location,
        .weather_info_container__header__time {
            font-size: 18px;
        }
    }

    .weather_info_container__hero {
        text-align: center;

        .weather_info_container__hero__img_container {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .weather_info_container__hero__description {
            width: 100%;
            font-size: 22px;
            margin-bottom: 26px;
        }
    }

    .weather_info_container__degree {
        width: 100%;
        text-align: center;
        font-size: 50px;
    }
}