* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button, textarea, a {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  display: block;
}