* {
    box-sizing: border-box;
}

.page-wrapper {
    width: 100%;
    background-color: #3399CC; 
    border: 20px solid #2B81AC;

    margin: 20px;
    max-width: 1440px;
    padding: 30px 100px 70px 100px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

h1 {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 20px;
}

.weather-forecast {
    width: 100%;
    max-width: 1166px;
    font-size: 0;
    margin-bottom: 30px;
    background-color: #FFFFFF;
}

.box {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    padding: 30px;
    width: 25%;
    outline: 2px solid #FFFFFF;
}

.temperature-metrics {
    color: rgba(255, 255, 255, 0.673);
}

.icon-style {
    font-size: 42px;
    padding: 10px;
}

.box:nth-of-type(1) {
    background: rgba(51, 153, 204, .7);
    width: 50%;
}

.box:nth-of-type(1):hover {
    background: rgba(51, 153, 204, 1);
}

.box:nth-of-type(2) {
    background: rgba(51, 204, 204, .7);
}

.box:nth-of-type(2):hover {
    background: rgba(51, 204, 204, 1);
}

.box:nth-of-type(3) {
    background: rgba(153, 102, 153, .7);
}

.box:nth-of-type(3):hover {
    background: rgba(153, 102, 153, 1);
}

.box:nth-of-type(4) {
    background: rgba(194, 71, 71, .7);
}

.box:nth-of-type(4):hover {
    background: rgba(194, 71, 71, 1);
}

.box:nth-of-type(5) {
    background: rgba(226, 103, 74, .7);
}

.box:nth-of-type(5):hover {
    background: rgba(226, 103, 74, 1);
}

.box:nth-of-type(6) {
    background: rgba(255, 204, 102, .7);
}

.box:nth-of-type(6):hover {
    background: rgba(255, 204, 102, 1);
}

.box:nth-of-type(7) {
    background: rgba(153, 204, 153, .7);
}

.box:nth-of-type(7):hover {
    background: rgba(153, 204, 153, 1);
}

.box:nth-of-type(8) {
    background: rgba(102, 153, 153, .7);
}

.box:nth-of-type(8):hover {
    background: rgba(102, 153, 153, 1);
}

.box:nth-of-type(9) {
    background: rgba(204, 102, 153, .7);
    width: 50%;
}

.box:nth-of-type(9):hover {
    background: rgba(204, 102, 153, 1);
    width: 50%;
}

.box:nth-of-type(10) {
    background: rgba(51, 153, 102, .7);
}

.box:nth-of-type(10):hover {
    background: rgba(51, 153, 102, 1);
}

.box:nth-of-type(11) {
    background: rgba(102, 102, 153, .7);
    width: 100%;
}

.box:nth-of-type(11):hover {
    background: rgba(102, 102, 153, 1);
    width: 100%;
}