* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    display: inline-block;
    border: transparent;
    outline: none;
    background: none;
    font-family: inherit;
}